{% extends "base.html" %}
{% block content %}

<h3>Admin Dashboard</h3>

<a href="/add_product" class="btn btn-success mb-3">Add Product</a>

<div class="row">
{% for p in products %}
  <div class="col-md-3">
    <div class="card mb-3">
      <img src="/static/uploads/{{ p[3] }}" class="card-img-top">
      <div class="card-body">
        <h5>{{ p[1] }}</h5>
        <p>₹{{ p[2] }}</p>
        <a href="/delete_product/{{ p[0] }}" class="btn btn-danger btn-sm">Delete</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
