<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="POST">
    <form action="/submit" method="PUT">
    <input type="text" name="username" placeholder="Enter username">
    <input type="text" name="password" placeholder="Enter Password">
    <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png" alt="">
    <button type="submit">Submit</button>
</form>

</body>
</html>